<main class="d-flex flex-column align-items-center">
    <form class="d-flex flex-column">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput required placeholder="Enter your name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput required placeholder="Enter your email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Random number</mat-label>
            <input type="number" matInput placeholder="Enter a random number">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Continent</mat-label>
            <mat-select>
                <mat-option>--</mat-option>

                <mat-option *ngFor="let continent of continents" value="{{continent.value}}">
                    {{continent.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Gender</mat-label>
            <input type="number" matInput placeholder="Enter a random number">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Favourite food</mat-label>
            <!-- <mat-select>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let food of foods" value="{{food.value}}">
                    {{food.viewValue}}
                </mat-option>
            </mat-select> -->
            <input type="number" matInput placeholder="Enter a random number">
        </mat-form-field>

        <mat-form-field>
            <mat-label>More to say?</mat-label>
            <textarea matInput placeholder="Enter your thoughts here..."></textarea>
        </mat-form-field>

        <button class="align-self-center btn btn-success btn-lg" type="submit" mat-raised-button>Submit</button>
    </form>
</main>
