@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #eeeeee;
    height: 100vh;
    width: auto;
}

section {
    margin: 50px;
}