span {
    font-weight: bold;
}

div#product-name {
    background-color: #dddddd;
}

div#product-view {
    height: 200px;
    width: 200px;
}

button {
    background-color: #f1c40f;
    border: none;
}