<p>This is a little messy I know, but try to open these individual iframes on a new tab. (The first one doesn't open in new tab for some reason)</p>
<iframe src="assets/tic-tac-toe/index.html" width="500" height="500" frameborder="0"></iframe>
<iframe src="assets/product-landing-page/index.html" width="500" height="500" frameborder="0"></iframe>
<iframe src="assets/tribute-page/index.html" width="500" height="500" frameborder="0"></iframe>
<iframe src="assets/ng-video-game-db/index.html" width="500" height="500" frameborder="0"></iframe>
