<header>
    <app-header-navbar></app-header-navbar>
</header>

<main>
    <app-contact-form class="d-flex flex-column align-items-center"></app-contact-form>
    <app-feature-section></app-feature-section>

    <section id="how-it-works">
        <!-- Temporary, uncomment the iframe and re-style this -->
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </section>

    <app-pricing-section></app-pricing-section>
</main>

<footer>
    <app-footer-navbar></app-footer-navbar>
</footer>
