<div class="container-sm w d-flex flex-column justify-content-center align-items-center">
    <p>
        <strong>Here's a timeline on the tributes life:</strong>
    </p>

    <ul>
        <li class="m-2" *ngFor="let lifeEvent of timeLine">
            <p>
                <b>{{lifeEvent.date}}</b> - {{lifeEvent.event}}
            </p>
        </li>
    </ul>

    <blockquote cite="http://news.rediff.com/report/2009/sep/14/pm-pays-tribute-to-father-of-green-revolution-borlaug.htm">
        <p>
            "Borlaug's life and achievement are testimony to the far-reaching contribution that one man's towering intellect, persistence and scientific vision can make to human peace and progress."
        </p>
        <cite>-- Indian Prime Minister Manmohan Singh</cite>
    </blockquote>
</div>
