<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img id="site-logo" src="assets/product-landing-page-logo.png" alt="site logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link me-5 active" href="#features">Features</a>
                <a class="nav-link me-5 active" href="#how-it-works">How it works</a>
                <a class="nav-link me-5 active" href="#pricing">Pricing</a>
            </div>
        </div>
    </div>
</nav>
