nav {
    background-color: #eeeeee;
    margin-bottom: 50px;
}

nav#header-navbar a {
    margin: 10px 20px 15px 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

img#site-logo {
    width: 28%;
    height: auto;
}